In [5]:
# Basic 

import os
import random
import re
import math
import time
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

# Scikit-learn

from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import roc_auc_score

# Deep Learning

from tqdm import tqdm
from tqdm.keras import TqdmCallback
import tensorflow as tf, re, math
import tensorflow.keras.backend as K
from tensorflow.keras.layers import *
import efficientnet.tfkeras as efn
from keras import layers
from keras.applications import DenseNet121
from keras.preprocessing.image import ImageDataGenerator
from keras.callbacks import Callback, ModelCheckpoint
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential
from keras.optimizers import Adam

# Visualization

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import plotly
import plotly.express as px
from plotly.tools import FigureFactory as FF
from plotly.offline import iplot
import seaborn as sns
%matplotlib inline

# Misc

import streamlit as st
from PIL import Image
import cufflinks
import cv2 as cv
import warnings
warnings.filterwarnings('ignore')

In [6]:
import matplotlib.pyplot as plt
import numpy as np
import os
import PIL
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

In [11]:
# Setting file paths for our notebook:

base_path = r'C:\Users\HIMANSHU\Downloads\Melanoma jpg'

train_img_path = r'C:\Users\HIMANSHU\Downloads\Melanoma jpg\train'
train_images = [f for f in listdir(train_img_path) if isfile(join(train_img_path, f))]

test_img_path = r'C:\Users\HIMANSHU\Downloads\Melanoma jpg\test'
test_images = [f for f in listdir(test_img_path) if isfile(join(test_img_path, f))]

img_stats_path = r'C:\Users\HIMANSHU\Downloads\Melanoma Dataset'

In [12]:
# Loading train and test data.

train = pd.read_csv(os.path.join(base_path, 'train.csv'))
test = pd.read_csv(os.path.join(base_path, 'test.csv'))
sample = pd.read_csv(os.path.join(base_path, 'sample_submission.csv'))

In [13]:
import pathlib
# Setting file paths for our notebook:

data_dir = r'C:\Users\HIMANSHU\Downloads\Melanoma jpg\test'
data_dir = pathlib.Path(data_dir)

image_count = len(list(data_dir.glob('*/*.jpg')))
print(image_count)

0

In [10]:
model = tf.keras.models.load_model('my_model_6000.hdf5')

In [16]:
batch_size = 32
img_height = 180
img_width = 180

In [18]:
test_label = []
for i in range(len(test_images)):
    test_image_path = r'C:\Users\HIMANSHU\Downloads\Melanoma jpg\test' + '\\' + test_images[i]

    img = keras.preprocessing.image.load_img(
        test_image_path, target_size=(img_height, img_width)
    )
    img_array = keras.preprocessing.image.img_to_array(img)
    img_array = tf.expand_dims(img_array, 0) # Create a batch

    predictions = model.predict(img_array)
    score = tf.nn.softmax(predictions[0])
    
    test_label.append(np.argmax(score))

In [20]:
print(len(test_images))
print(len(test_label))

10982
10982

In [29]:
image_submission = pd.DataFrame(columns=['image_name', 'target'])
image_submission

Empty DataFrame
Columns: [image_name, target]
Index: []

In [30]:
image_submission['image_name'] = test['image_name']
image_submission['target'] = test_label

In [31]:
image_submission

         image_name  target
0      ISIC_0052060       0
1      ISIC_0052349       0
2      ISIC_0058510       0
3      ISIC_0073313       0
4      ISIC_0073502       0
...             ...     ...
10977  ISIC_9992485       0
10978  ISIC_9996992       0
10979  ISIC_9997917       0
10980  ISIC_9998234       0
10981  ISIC_9999302       0

[10982 rows x 2 columns]

In [32]:
image_submission.describe()

             target
count  10982.000000
mean       0.001002
std        0.031634
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [33]:
image_submission.to_csv('image_submission.csv', header=True, index=False)